#page1 {
    background-color: mediumaquamarine;
    display: grid;
    width: 100%;
    height: 98vh;
    margin: auto;
    grid-template-rows: 130px auto 30px;
    grid-template-areas:
    'header'
    'main'
    'footer';
    text-align: center;
    header {
        grid-area: header;
    }
    main {
        grid-area: main;   
        border: black 2px;
    }
    footer {
        grid-area: footer;  
    }
}
#page2 {
    background-color: darkcyan;
    display: grid;
    width: 100%;
    height: 98vh;
    margin: auto;
    grid-template-rows: 130px auto 30px;
    grid-template-areas:
    'header'
    'main'
    'footer';
    text-align: center;
    header {
        grid-area: header;
    }
    main {
        grid-area: main;   
        border: black 2px;
        ul{
            text-align: left;
            margin-left: 37%;
            
        }
        input{
            width: 100px;
            height:30px;
        }
    }
    footer {
        grid-area: footer;  
    }
}
.image-container {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: hidden; /* Viktigt för att begränsa storleken på kontainern */
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Anpassa bilden för att täcka hela kontainern utan att förvränga den */
    object-position: center; /* Centrera bilden inom kontainern */
  }